<div class="footer-content">
    <div class="footer-section">
        <h3>Horarios</h3>
        <p>Lunes - Viernes: 7am - 8pm</p>
        <p>Sábado - Domingo: 8am - 9pm</p>
    </div>
    <div class="footer-section">
        <h3>Contacto</h3>
        <p>Email: info@soulmate.com</p>
        <p>Teléfono: (123) 456-7890</p>
    </div>
    <div class="footer-section">
        <h3>Seguinos</h3>
        <div class="social-icons">
            <a href="#"><img src="images/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="images/twitter.png" alt="Twitter"></a>
        </div>
    </div>
</div>
<div class="copyright">
    <p>&copy; 2025 Tech Moms. Todos los derechos reservados.</p>
</div>