<header>
    <div class="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="logo-container">
        <a href="index.html">
            <img src="../images/Logo.jpeg" alt="Logo de Soul Mate" class="logo">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="menu.html"><i class="fas fa-mug-hot"></i> Menú</a></li>
            <li><a href="tutoriales.html"><i class="fas fa-graduation-cap"></i> Tutoriales</a></li>
            <li><a href="tienda.html"><i class="fas fa-shopping-cart"></i> Tienda</a></li>
            <li><a href="franquicias.html"><i class="fas fa-store"></i> Franquicias</a></li>
            <li><a href="contact.html"><i class="fas fa-envelope"></i> Contacto</a></li>
            <li><a href="trabaja-en-sm.html"><i class="fas fa-briefcase"></i> Trabajá con nosotros</a></li>
        </ul>
    </nav>
</header>
